{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "ecmaFeatures": {
        "forOf": true,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "react/jsx-no-undef": 1,
        "react/react-in-jsx-scope": 1
    }
}
